<h1 class="heading">Marvel Characters</h1>
<div class="characters-container">
  <div *ngFor="let character of characters" class="character-card">
    <img
      class="character-image"
      [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
      [alt]="character.name"
    >
    <div class="character-details">
      <h3 class="character-name">{{ character.name }}</h3>
      <p class="character-description">{{ character.description || 'No description available.' }}</p>
      <p class="character-comics-title">Comics:</p>
      <ul class="comics-list">
        <li *ngFor="let comic of character.comics" class="comic-item">
          {{ comic.name }}
        </li>
      </ul>
    </div>
  </div>
</div>

<h1 class="heading">Marvel Comics</h1>
<div class="comic-books-container">
  <div *ngFor="let comicBook of comicBooks" class="comic-book-card">
    <img
      class="comic-book-image"
      [src]="comicBook.thumbnail.path + '.' + comicBook.thumbnail.extension"
      [alt]="comicBook.title"
    >
    <div class="comic-details">
      <p>{{ comicBook.title }}</p>
      <h3>Pages: {{ comicBook.pageCount }}</h3>
      <ul class="comics-list">
        <li *ngFor="let char of comicBook.comicCharacters" class="comic-item">
          {{ char.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
